.generate-teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.generate-teams,
.draw-groups {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.group {
  margin: 20px;
}

.stats-paper {
  font-size: 10px;
  width: 100px;
  margin: 0px;
  padding: 0 5px;
  text-align: center;
}
