.group-container,
.groups-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.group-container {
  width: 80%;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.group-container td {
  width: 200px;
  text-align: left;
}

.group-container td:nth-child(1n + 2) {
  width: 40px;
  text-align: center;
}

.group-stage-section-names {
  margin-top: 40px;
}

.group-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-stage-hidden {
  display: none;
}

.group-tab {
  color: #000;
}

.group-teamName,
.group-score {
  padding: 0 5px;
  margin: 5px;
  text-align: center;
}

.group-teamName {
  width: 140px;
}

.group-score {
  width: 20px;
}
