.left-menu {
    position: fixed;
    top: 80px;
    height: calc(100% - 50px);
    background-color: #3b8beb;
    color: #fff;
    width: 150px;
    transition: height .3s ease;
}

.left-menu button {
    background-color: #C4DBF6;
    color: #000;
    margin: 10px;
    width: 130px
}

a.is-active button {
    background-color: #fff;
}