@import "./leftMenu.css";
@import "./drawStage.css";
@import "./groupStage.css";
@import "./playoffStage.css";

body {
  background-color: #c4dbf6;
  margin: auto;
}

header {
  position: fixed;
  z-index: 1;
  background-color: #3b8beb;
  color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  transition: font-size 0.3s ease;
}

.main {
  position: absolute;
  top: 80px;
  left: 150px;
  padding-top: 20px;
  width: calc(100% - 170px);
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teams-paper {
  text-align: center;
  color: black;
  margin: 10px 5px;
  width: 250px;
}

.result-container {
  display: flex;
}

.results {
  width: 340px;
}

@media (max-width: 600px) {
  header {
    font-size: 24px;
  }

  .left-menu {
    top: 80px;
    height: 80px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    z-index: 1;
  }

  .left-menu button {
    margin: 10px;
    width: 100px;
    height: 60px;
    font-size: 12px;
  }

  .main {
    top: 160px;
    left: 0;
    width: 100%;
  }
}
