.playoff-segment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playoff-segment-title {
    font-size: 24px;
}

.playoff-btn-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 10px;
}

